*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

nav{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.btn-hamburger{
    font-size: 1.5rem;
    background: none;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: none;
}

h2{
    padding-left: 200px;
    color: rgb(243, 156, 18)
    
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    padding: 20px 40px;
    color: rgb(8, 8, 8);
    transition: .3 ease;
    background-color: none;
    font-weight: bold;
    font-size: 17px;
    
}

nav ul li a:hover{
    color: rgb(179, 182, 183);
}
.btn-login{
    background: linear-gradient(45deg,#D35400,#F39C12);
    border-radius: 50px;
    color: white;
}
body{
    background: rgb(208, 211, 212);
}

aside{
    height: 150vh;
    width: 20%;
    display: flex;
    background-image: linear-gradient(45deg,#E67E22,#F39C12);
    margin-left: 20%;
    padding: 30px 20px;
    float: left;
    margin-top: 20px;
    border-radius: 3px;
}

aside img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: 30px;
}

.aside-frame{
    justify-content: center;
    padding-top: 10px;
    
}

aside .contact h2{
    margin-top: 40px;
    width: 180px;
    background: rgb(202, 111, 30);
    padding-left: 20px;
    padding-top: 7px;
    color: white;
    border-radius: 10px;
    height: 40px;
    text-transform: uppercase;
}

.aside-frame .contact .text{
    padding-top: 20px;
    line-height: 35px;
    letter-spacing: 1px;
    font-size: 15px;
}
.aside-frame .educate .text{
    padding-top: 20px;
    line-height: 35px;
    letter-spacing: 1px;
    font-size: 15px;
}
.fa-dot-circle{
    font-size: 12px;
}
.aside-frame .skill .text{
    padding-top: 20px;
    line-height: 35px;
    letter-spacing: 1px;
    font-size: 15px;
}
aside .educate h2{
    margin-top: 30px;
    width: 180px;
    background: rgb(202, 111, 30);
    padding-left: 20px;
    padding-top: 7px;
    color: white;
    border-radius: 10px;
    height: 40px;
    text-transform: uppercase;
}
aside .skill h2{
    margin-top: 30px;
    width: 150px;
    background: rgb(202, 111, 30);
    padding-left: 28px;
    padding-top: 7px;
    color: white;
    border-radius: 10px;
    height: 40px;
    text-transform: uppercase;
}
.section1{
    display: flex;
    height: 150vh;
    width: 40%;
    background-image: linear-gradient(45deg,#ECF0F1,#F4F6F7);
    margin-top: 20px;
    float: right;
    justify-items: center;
    margin-right: 20%;
    border-radius: 3px;
    flex-direction: column;
} 

.section1 .head{
    background-color: rgb(245, 176, 65);
    height: 200px;
    width: 80%;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
    border-radius: 10px;
    margin-left: 60px;
}

.section1 .head h1{
    color: rgb(28, 40, 51);;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 40px;
    font-size: 30px;
    letter-spacing: 8px;
}

.section1 .head h3{
    color: rgb(135, 54, 0);
    margin-top: 30px;
    font-size: 25px;
    letter-spacing: 5px;
    font-family: 'Ubuntu', sans-serif;
}

.section1 .profile{
     margin-top: 50px;
     height: 200px;
     width: 90%;
     margin-left: 30px;
     padding-top: 15px;    
}

.section1 .pro{
    margin-top: 100px;
    height: 200px;
    width: 90%;
    margin-left: 30px;
    padding-top: 15px;    
}

.section1 .profile h2{
    color: rgb(28, 40, 51);
    padding: 15px 0;
    letter-spacing: 2px;
}
.section1 .pro h2{
    color: rgb(28, 40, 51);
    padding: 15px 0;
    letter-spacing: 2px;
}